{% extends 'index.html' %}

{% block content %}
<div class="content-page">
    <div class="container-fluid">
       <div class="row">
          <div class="col-sm-12 col-lg-6">
             <div class="card">
                <div class="card-header d-flex justify-content-between">
                   <div class="header-title">
                      <h4 class="card-title">Basic Form</h4>
                   </div>
                </div>
                <div class="card-body">
                   <form method="POST">
                       {% csrf_token %}
                    <p> ¿ Seguro que quieres eliminar al cliente {{object.name}} ?</p>
                      <button type="submit" class="btn btn-primary">Si</button>
                      <a href="{% url 'list_customer'%}" class="btn bg-danger">Cancelar</a> 
                   </form>
                </div>
             </div>
       </div>
    </div>
    </div>
  </div>

{% endblock content %}
    
